<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>DisableFileRecoveryOnOpen</key>
	<true/>
	<key>QRPanelSettings</key>
	<dict>
		<key>4</key>
		<dict>
			<key>BinderID</key>
			<integer>4</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>503 259 475 522 0 0 1440 878 </string>
		</dict>
	</dict>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>16</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>20</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>23</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>26</integer>
		<integer>27</integer>
		<integer>28</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>64</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {191, 731}}</string>
		<string>{{192, 0}, {1101, 731}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>4</integer>
		<integer>48</integer>
		<integer>57</integer>
		<integer>63</integer>
		<integer>65</integer>
		<integer>68</integer>
		<integer>28</integer>
		<integer>27</integer>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>binderWidth</key>
	<real>223</real>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 101}}</string>
		<string>{{0, 102}, {223, 542}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {842, 348}}</string>
		<string>{{0, 358}, {842, 347}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>895</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>110</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>146.44239807128906</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {784, 705}}</string>
		<string>{{785, 0}, {316, 705}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>316</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {827, 302}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>113 117 1293 753 0 0 1440 878 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<false/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
			<string>LABEL</string>
			<string>STATUS</string>
		</array>
		<key>widths</key>
		<dict>
			<key>LABEL</key>
			<real>47</real>
			<key>STATUS</key>
			<real>55.66162109375</real>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<integer>0</integer>
		<integer>4</integer>
		<integer>267</integer>
		<integer>259</integer>
		<integer>262</integer>
		<integer>263</integer>
		<integer>264</integer>
		<integer>265</integer>
		<integer>266</integer>
		<integer>48</integer>
		<integer>247</integer>
		<integer>249</integer>
		<integer>250</integer>
		<integer>251</integer>
		<integer>252</integer>
		<integer>253</integer>
		<integer>254</integer>
		<integer>255</integer>
		<integer>256</integer>
		<integer>57</integer>
		<integer>165</integer>
		<integer>166</integer>
		<integer>167</integer>
		<integer>168</integer>
		<integer>169</integer>
		<integer>170</integer>
		<integer>171</integer>
		<integer>172</integer>
		<integer>173</integer>
		<integer>174</integer>
		<integer>175</integer>
		<integer>176</integer>
		<integer>177</integer>
		<integer>178</integer>
		<integer>179</integer>
		<integer>63</integer>
		<integer>180</integer>
		<integer>181</integer>
		<integer>182</integer>
		<integer>183</integer>
		<integer>184</integer>
		<integer>185</integer>
		<integer>186</integer>
		<integer>187</integer>
		<integer>188</integer>
		<integer>189</integer>
		<integer>190</integer>
		<integer>191</integer>
		<integer>65</integer>
		<integer>292</integer>
		<integer>293</integer>
		<integer>294</integer>
		<integer>295</integer>
		<integer>296</integer>
		<integer>297</integer>
		<integer>298</integer>
		<integer>299</integer>
		<integer>68</integer>
		<integer>145</integer>
		<integer>146</integer>
		<integer>147</integer>
		<integer>148</integer>
		<integer>149</integer>
		<integer>150</integer>
		<integer>151</integer>
		<integer>152</integer>
		<integer>153</integer>
		<integer>154</integer>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>267</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>259</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>262</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>263</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>264</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>265</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>247</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>266</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>247</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>249</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>251</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>250</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>251</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>252</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>251</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>253</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>254</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>255</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>256</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>165</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>166</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>167</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>168</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>169</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>168</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>169</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>170</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>171</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>172</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>173</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>172</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>173</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>174</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>175</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>262</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>263</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{29252, 235}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>262</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>267</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{51975, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>290</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>251</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>252</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>253</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>254</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>253</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>174</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>185</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>186</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>187</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>293</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>294</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>145</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>146</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
					<integer>290</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{457, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
					<integer>290</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>295</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>65</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{5556, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{499043, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>259</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>41</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>263</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>250</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>263</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>267</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>259</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>262</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>263</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{321503, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>290</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{359278, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>290</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6264, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>294</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{48710, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{48711, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>303</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>303</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>266</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>303</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>266</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>303</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>48</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{68164, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>290</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>4</integer>
					<integer>267</integer>
					<integer>259</integer>
					<integer>262</integer>
					<integer>263</integer>
					<integer>264</integer>
					<integer>265</integer>
					<integer>266</integer>
					<integer>48</integer>
					<integer>247</integer>
					<integer>249</integer>
					<integer>250</integer>
					<integer>251</integer>
					<integer>252</integer>
					<integer>253</integer>
					<integer>254</integer>
					<integer>255</integer>
					<integer>256</integer>
					<integer>57</integer>
					<integer>165</integer>
					<integer>166</integer>
					<integer>167</integer>
					<integer>168</integer>
					<integer>169</integer>
					<integer>170</integer>
					<integer>171</integer>
					<integer>172</integer>
					<integer>173</integer>
					<integer>174</integer>
					<integer>175</integer>
					<integer>176</integer>
					<integer>177</integer>
					<integer>178</integer>
					<integer>179</integer>
					<integer>63</integer>
					<integer>180</integer>
					<integer>181</integer>
					<integer>182</integer>
					<integer>183</integer>
					<integer>184</integer>
					<integer>185</integer>
					<integer>186</integer>
					<integer>187</integer>
					<integer>188</integer>
					<integer>189</integer>
					<integer>190</integer>
					<integer>191</integer>
					<integer>65</integer>
					<integer>292</integer>
					<integer>293</integer>
					<integer>294</integer>
					<integer>295</integer>
					<integer>296</integer>
					<integer>297</integer>
					<integer>298</integer>
					<integer>299</integer>
					<integer>68</integer>
					<integer>145</integer>
					<integer>146</integer>
					<integer>147</integer>
					<integer>148</integer>
					<integer>149</integer>
					<integer>150</integer>
					<integer>151</integer>
					<integer>152</integer>
					<integer>153</integer>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
			<string>totalWords</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>125.14453125</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>49</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>284</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerState</key>
	<array/>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 99508}, {769, 659}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{501639, 0}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
